<!-- Layout assembled by Flask; edit individual views and modules. -->
<% include "views/head.html" %>
<% include "views/login.html" %>
<% include "views/navigation.html" %>
<% include "views/dashboard.html" %>
<% include "views/clients.html" %>
<% include "views/kanban.html" %>
<% include "views/tasks.html" %>
<% include "views/projects.html" %>
<% include "views/calendar.html" %>
<% include "views/catalog.html" %>
<% include "views/services.html" %>
<% include "views/offers.html" %>
<% include "views/documents.html" %>
<% include "views/tickets.html" %>
<% include "views/templates.html" %>
<% include "views/sms.html" %>
<% include "views/users.html" %>
<% include "views/archive.html" %>
<% include "views/notifications.html" %>
<% include "views/task-detail.html" %>
<% include "views/record-detail.html" %>
<% include "views/service-detail.html" %>
<% include "views/portal-admin.html" %>
<% include "views/settings.html" %>
<% include "views/record-form.html" %>
<% include "views/profile.html" %>
<% include "views/password.html" %>
<% include "views/template-editor.html" %>
<% include "views/assignee-picker.html" %>
